.dropdown {
  position: relative;
  color: #333;
  cursor: default;
  margin-left:50px;
  margin-bottom: 50px;
}

.dropdown .arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
  color: #798697;
}

.dropdown .arrow.open {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}


.dropdown .selected-value input {
  line-height: 1.5;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid #BFC5CD;
  color:#798697;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  width: 100%;
}

.dropdown .selected-value input:hover{
border: 1px solid #4A4A4A;
color: #798697
}
.dropdown .selected-value input:click{
border: 1px solid #4A4A4A;
color: #BFC5CD
}
/* the max_height works differently on Chrome than Safari, there are 20px diffrence to show 6 names in options between two browsers, I set the height for Chrome  */
.dropdown .options {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 235px;    
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.dropdown .options.open {
  display: block;
  width: 380px;
  margin: 5px 0;
}

.dropdown .option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.dropdown .option.selected,
.dropdown .option:hover {
  background-color: #f2f9fc;
  color: #4A4A4A;
}

/* input placeholder */
.custom-field {
  position: relative;
  font-size: 10px;
  padding-top: 20px;
  margin-bottom: 5px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: 1px solid red;
  appearance: none;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 2rem;
  width:200px
  /* outline:none !important; */
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: #798697;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  font-size:20px;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
  top: -10px;
  font-size: 12px;
  color: #222;
}

.searchIcon{
  color:red
}